<div class="row update-content">
	<%= render 'shared/error_messages' %>

	<div class="large-6 columns signup-descr left">
		<h2><b>Account.</b></h2>
		<p>Change your basic account settings.</p>
	</div>
	
	<div class="large-6 columns right">
	    <%= form_for @user do |f| %>
	      	<div class="panel radius update-field">
	      		<%= f.text_field :name, placeholder: "Username", class: "form-control radius"  %>
	      		<%= f.text_field :email, placeholder: "Email", class: "form-control radius" %>
	      		<%= f.password_field :password, placeholder: "Password", class: "form-control radius" %>	      		
	      		<%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control radius" %>
	      		<%= f.submit "Save changes", class: "button radius right" %>
	      	</div>
	    <% end %>
	</div>

</div>
