<div class="row signup-content">
	<div class="large-6 columns signup-descr left">
		<h2><b>Welcome to Lister.</b></h2>
		<p>A user-friendly platform for posting and selling cars.</p>
	</div>
	
	<div class="large-6 columns right">
		<%= form_for(:session, url: login_path) do |f| %>
			<div class="panel radius login-field">
	      		<%= f.text_field :email, placeholder: "Email", class: "form-control radius" %>
	      		<div class="row">
	      			<div class="large-8 columns">
	      				<%= f.password_field :password, placeholder: "Password", class: "form-control radius" %>
	      			</div>
	      			<div class="large-4 columns">
	      				<%= f.submit "Log in", class: "button radius right" %>
	      			</div>
	      			<!-- checkbox here -->
	      		</div>
	      	</div>
	    <% end %>

	    <%= form_for @user do |f| %>
	      	<div class="panel radius signup-field">
	      		<p>New to Lister? Sign up!</p>
	      		<%= f.text_field :name, placeholder: "Username", class: "form-control radius"  %>
	      		<%= f.text_field :email, placeholder: "Email", class: "form-control radius" %>
	      		<%= f.password_field :password, placeholder: "Password", class: "form-control radius" %>	      		
	      		<%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control radius" %>
	      		<%= f.submit "Sign up for Lister", class: "button radius right" %>
	      	</div>
	    <% end %>
	</div>
	      	
	<div class="row">
	  	<div class="large-12 columns">
	      	<%= render 'shared/error_messages' %>
	    </div>
	</div>

</div>
